* {
  box-sizing: border-box;
}
.wrapper img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px, 10px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
button {
  display: block;
  background-color: rgb(255, 255, 255);
  height: 3rem;
  width: 5rem;
  border-radius: 1rem;
  border: none;
}
button:hover {
  background-color: blueviolet;
  color: white;
}
#project1 {
  display: none;
}
#project1.open {
  height: 300px;
}
