* {
  box-sizing: border-box;
}
.wrapper img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  padding: 20px, 10px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
button {
  display: block;
  background-color: rgb(255, 255, 255);
  height: 3rem;
  width: 5rem;
  border-radius: 1rem;
  border: none;
}
button:hover {
  background-color: blueviolet;
  color: white;
}
#project1 {
  display: none;
}
#project1.open {
  display: flex;

  /* padding-bottom: 400px; */

  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
.project1 {
  max-width: 200px;
}
#project2 {
  display: none;
}
#project2.open {
  display: flex;

  /* padding-bottom: 400px; */

  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
.project2 {
  max-width: 200px;
}
#project3 {
  display: none;
}
#project3.open {
  display: flex;

  /* padding-bottom: 400px; */

  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
.project3 {
  max-width: 200px;
}
#project4 {
  display: none;
}
#project4.open {
  display: flex;

  /* padding-bottom: 400px; */

  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
.project4 {
  max-width: 200px;
}
#project5 {
  display: none;
}
#project5.open {
  display: flex;

  /* padding-bottom: 400px; */

  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
.project5 {
  max-width: 200px;
}
#project6 {
  display: none;
}
#project6.open {
  display: flex;

  /* padding-bottom: 400px; */

  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
.project6 {
  max-width: 200px;
}
#project7 {
  display: none;
}
#project7.open {
  display: flex;

  /* padding-bottom: 400px; */

  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}
.project7 {
  max-width: 200px;
}
